html,
body {
  margin: 0;
  padding: 0;
  background-image: url(../images/bg-green-portfolio.png);
  background-size: cover;
}

.container {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  margin-left: 6em;
}
