html,
body {
  margin: 0;
  padding: 0;
  position: sticky;
}

body {
  background: white;
  font-family: "Lato", sans-serif;
}

.site-hero {
  width: 100vw;
  height: 100vh;

  background-image: url(../images/bg-green-portfolio.png);
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-position: center center;
}

.container-nav {
  background: 0;
  min-height: 100px;
  max-height: 120px;
  margin: 0;
  display: flex;
  flex-direction: row;
}
ul {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.nav-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  max-width: 50%;
  margin: 1em;
  align-items: right;
  margin-top: 4em;
  margin-left: 0.5em;
}

.link-nav {
  text-decoration: none;
  color: #45b29a;
  font-size: 1rem;
  font-weight: bold;
  margin: 0.75em;
  letter-spacing: 1px;
}

.link-nav:hover,
.link-nav:focus {
  color: #8cd0f5;
}
.container-nav a img {
  max-width: 45%;
  max-height: 45%;
  border-radius: 50%;
  margin: 3.5em 3em;
  cursor: pointer;
}

.all {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.description {
  margin-top: 12em;
  color: grey;
  font-size: 1.2em;
}

h1,
h1 + .span2 {
  color: #45b29a;
  padding-top: 2em;
  text-align: center;
  line-height: 1.3em;
  margin-top: 3em;
}
.span1 {
  font-family: Stalemate;
  font-size: 3.5em;

  margin-bottom: 0;
  padding-bottom: 0;
  font-weight: normal;
}

.span2 {
  font-family: "Lato", sans-serif;
  font-size: 0.6em;
  margin-top: 0;
  padding-top: 0;
  letter-spacing: 0.1em;
  text-align: center;
}

.description {
}

.description ul li {
  max-width: 100%;
  margin-bottom: 2em;
}

.me-laptops {
  max-width: 40%;
  max-height: 90%;
  margin-top: 8em;
  box-shadow: inset 0px 0px 40px 40px white;
}

.description ul li h2 {
  color: #35b886;
  font-size: 1.7rem;
  letter-spacing: 1px;
  padding-bottom: 0;
}

.description ul li p {
  letter-spacing: 1px;
  padding: 0 3em 2em;
  margin-bottom: 0.5em;
}

.git-portfolio-link {
  text-decoration: none;
  color: #35b886;
  cursor: pointer;
}

.git-portfolio-link:hover {
  color: #8cd0f5;
}
.all-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.project1-img {
  margin-top: 1em;
  margin-bottom: 1.5em;
}

.subtitle {
  padding-top: 0;
}
.blue p {
  margin-bottom: 10em;
  padding-bottom: 3em;
  max-width: 600px;
  margin: 0 auto;
}

.blue .view-on-github {
  background-color: #db611a;
}

.red .view-on-github {
  background-color: #3b5999;
}

.view-on-github {
  text-decoration: none;
  font-size: 0.9em;
  color: whitesmoke;
  padding: 0.7em 3em;
  border-radius: 3px;
  cursor: pointer;
  transform: scale(1);
  transition: transform 250ms;
}

.view-on-github:hover {
  transform: scale(1.1);
}
.blue {
  background-color: #f3766b;

  padding: 3em;
  color: white;
}

.project1-img {
  max-width: 80%;
  max-height: 80%;
  border-radius: 2%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.red {
  background-color: #f1ce5a;
  padding: 3em;
  color: white;
}

.red p {
  margin-bottom: 10em;
  padding-bottom: 3em;
  max-width: 600px;
  margin: 0 auto;
}

.purple {
  background-color: rgb(103, 197, 201);
  padding: 3em;
  color: white;
}

.purple p {
  margin-bottom: 10em;
  padding-bottom: 3em;
  max-width: 600px;
  margin: 0 auto;
}
.purple .view-on-github {
  background-color: #262a33;
}
footer {
  width: 100%;
  background: #45b29a;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 3em 0;
}

footer * {
  text-decoration: none;
  color: white;
  font-weight: bold;
  opacity: 0.6;
}

.link-footer {
  transform: scale(1);
  transition: transform 250ms;
}

.link-footer:hover,
.link-footer:focus {
  color: #8cd0f5;

  transform: scale(1.1);
}

@media (min-width: 600px) {
  .site-hero {
    min-height: 100vh;
    padding-bottom: 4em;
  }

  .nav-ul {
    margin: 6em 9em;
  }

  .link-nav {
    font-size: 1.2em;
  }
  h1,
  h1 + .span2 .link-nav {
    margin-top: 5em;
  }
  .container-nav a img {
    margin: 4em 9em;
    max-width: 55%;
    max-height: 55%;
  }
}

@media (min-width: 900px) {
  .site-hero {
    min-height: 100vh;
    padding-bottom: 4em;
  }
  .span1 {
    font-size: 4em;
    padding-top: 6em;
  }
  .me-laptops {
    max-width: 90%;
  }

  .description {
    margin-top: 13em;
  }
  .me-laptops {
    max-width: 40%;
    max-height: 90%;
    margin-top: 12em;
  }
}
