html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background: white;
  font-family: "Lato", sans-serif;
}

.site-hero {
  /* width: 100vw;
  height: 100vh; */
  max-height: 100vh;
  background-image: url(../images/bg-green-plus-objects.png);
  background-size: cover;
  background-position: center center;
}

.container-nav {
  background: 0;
  min-height: 100px;
  max-height: 120px;
  margin: 0;
  display: flex;
  flex-direction: row;
}
ul {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.nav-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  max-width: 50%;
  margin: 1em;
  align-items: right;
  margin-top: 4em;
  margin-left: 0.5em;
}

.link-nav {
  text-decoration: none;
  color: #45b29a;
  font-size: 1rem;
  font-weight: bold;
  margin: 0.75em;
  letter-spacing: 1px;
}

.link-nav:hover,
.link-nav:focus {
  color: #8cd0f5;
}
.container-nav a img {
  max-width: 45%;
  max-height: 45%;
  border-radius: 50%;
  margin: 3.5em 2em;
  cursor: pointer;
}

.all {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.description {
  margin-top: 20em;
  padding-top: 9em;
  color: grey;
}
h1,
h1 + .span2 {
  color: #45b29a;
  padding-top: 2em;

  text-align: center;
  line-height: 1.3em;
  margin-top: 3em;
}
.span1 {
  font-family: Stalemate;
  font-size: 3.4em;
  margin-bottom: 0;
  padding-bottom: 0;
  font-weight: normal;
}

.span2 {
  font-family: "Lato", sans-serif;
  font-size: 0.6em;
  margin-top: 0;
  padding-top: 0;
  letter-spacing: 0.1em;
  text-align: center;
}

.bird {
  max-width: 20%;
  max-height: 20%;
  margin-top: 1.25em;
}

.bird2 {
  max-width: 10%;
  max-height: 10%;
}
.rocket {
  max-width: 10%;
  max-height: 10%;
  margin-left: 4em;
}

.description ul li {
  max-width: 500px;
  margin-bottom: 3em;
}

.description ul li .desc-img {
  max-width: 30%;
  max-height: 30%;
  border-radius: 50%;
  margin-bottom: 0;
  padding-top: 0;
}

.description {
  margin-top: 10em;
}

.me-coding {
  margin-top: 0;
  max-width: 30%;
}

.description ul li h2 {
  color: #35b886;
  font-size: 1.7rem;
  margin-top: 0.5em;
  margin-bottom: 0;
  padding: 0 3em;
  letter-spacing: 1px;
}

.description ul li p {
  padding: 0.3em 3em;
  /* line-height: 1.3em; */
  font-size: 1.2em;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 0;
}

.makers-link {
  text-decoration: none;
  color: #35b886;
  cursor: pointer;
}

.makers-link:hover,
.portfolio-link:hover {
  color: #1ca3ec;
}

.dots {
  max-width: 20%;
  margin-top: 3em;
  margin-bottom: 0;
}

.me-laptops,
.all-logos {
  border-radius: none;
  max-width: 35%;
  margin-bottom: 1.2em;
}

.portfolio-link {
  text-decoration: none;
  color: #35b886;
  cursor: pointer;
}

.envelope {
  position: relative;
  display: flex;
  flex-direction: column;
  opacity: 0.1;
  max-width: 20%;
  margin: 0 auto;
  margin-bottom: 0.5em;
  /* margin-left: 3em; */
}

.contact-me-button {
  background-color: #45b29a;
  border-color: #45b29a;
  border-style: none;
  border-radius: none;
  color: rgb(233, 233, 233);
  padding: 0.5em 3em;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 1px;
  cursor: pointer;
  transform: scale(1);
  transition: transform 250ms;
}

.contact-me-button:hover {
  transform: scale(1.1);
}

footer {
  background: #45b29a;
  color: white;
  text-align: center;
  font-size: 1.2em;
  padding: 3em 0;
  margin-top: 2em;
}

footer * {
  text-decoration: none;
  color: white;
  font-weight: bold;
  opacity: 0.6;
}

.link-footer {
  transform: scale(1);
  transition: transform 250ms;
}

.link-footer:hover,
.link-footer:focus {
  color: #8cd0f5;

  transform: scale(1.1);
}

@media (min-width: 600px) {
  body {
    display: flex;
  }
  .nav-ul {
    /* margin-right: 9em; */
    margin: 6em 9em;
  }

  .link-nav {
    font-size: 1.2em;
  }
  h1,
  h1 + .span2 .link-nav {
    margin-top: 5em;
  }

  .container-nav a img {
    margin: 4em 9em;
    max-width: 55%;
    max-height: 55%;
  }
  .description {
    margin-top: 12em;
  }
}

@media (min-width: 900px) {
  body {
    display: flex;
  }

  .site-hero {
    max-height: 100vh;
    padding-bottom: 5em;
  }
  .description {
    margin-top: 17em;
  }

  .left-description,
  .right-description {
    display: flex;
    flex-direction: row;
  }

  .second-paragraph,
  .fourth-paragraph {
    margin-top: 8em;
  }
  .span1 {
    font-size: 4em;
  }
  .cta-contact {
    margin-left: 19.5em;
  }
  .envelope {
    max-width: 10%;
  }

  .container-nav a img {
    margin: 4em 9em;
  }

  .span1 {
    padding-top: 8em;
  }
}
