html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: white;
  font-family: "Lato", sans-serif;
}

.site-hero {
  /* width: 100vw;
  height: 100vh; */
  max-height: 600px;
  background-image: url(../images/bg-gradient.png);
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-position: center center;
}

.container-nav {
  background: 0;
  min-height: 100px;
  max-height: 120px;
  margin: 0;
  display: flex;
  flex-direction: row;
}
ul {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.nav-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  max-width: 50%;
  margin: 1em;
  align-items: right;
  margin-top: 4em;
  margin-left: 9em;
}

.link-nav {
  text-decoration: none;
  color: #45b29a;
  font-size: 1rem;
  font-weight: bold;
  margin: 0.75em;
  letter-spacing: 1px;
}

.link-nav:hover,
.link-nav:focus {
  color: #8cd0f5;
}
.container-nav a img {
  max-width: 45%;
  max-height: 45%;
  border-radius: 50%;
  margin: 2.5em 2em;
  cursor: pointer;
}

.all {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.description {
  margin-top: 12em;
}
h1,
h1 + .span2 {
  color: #45b29a;
  text-align: center;
  line-height: 1.3em;
  margin-top: 3em;
}
.span1 {
  font-family: Stalemate;
  font-size: 3.4em;
  margin-bottom: 0;
  padding-bottom: 0;
  font-weight: normal;
}

.span2 {
  font-family: "Lato", sans-serif;
  font-size: 0.6em;
  margin-top: 0;
  padding-top: 0;
  letter-spacing: 0.1em;
  text-align: center;
}

.bird {
  max-width: 20%;
  max-height: 20%;
  margin-top: 1.25em;
}

.bird2 {
  max-width: 10%;
  max-height: 10%;
}
.rocket {
  max-width: 10%;
  max-height: 10%;
  margin-left: 4em;
}

.description ul li {
  max-width: 500px;
  margin-bottom: 5em;
}

.description ul li .desc-img {
  max-width: 30%;
  max-height: 30%;
  border-radius: 50%;
  margin-bottom: 0;
  padding-top: 0;
  box-shadow: inset 0px 0px 40px 40px white;
}

.description ul li h2 {
  color: #35b886;
  font-size: 1.7rem;
  margin-top: 0.5em;
}

.description ul li p {
}

footer {
  background: #45b29a;
  color: white;
  text-align: center;
  padding: 3em 0;
}

footer * {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.link-footer {
  transform: scale(1);
  transition: transform 250ms;
}

.link-footer:hover,
.link-footer:focus {
  color: #8cd0f5;

  transform: scale(1.1);
}

@media (min-width: 600px) {
  .nav-ul {
    width: 60%;
    margin-right: 3em;
  }

  .link-nav {
    font-size: 1.2rem;
  }

  .container-nav a img {
    margin: 2em 5.5em;
  }
}

@media (min-width: 950px) {
}

/* html,
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background: url("images/bg-green.png");
  background-size: cover;

  background: url("images/bg-portfolio.png");
  background-size: cover;
  #d8eacb;

}

.img-paula {
  width: 5em;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 2.5em;
}



.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.container-nav img {
  display: flex;
  justify-content: space-between;
}

.nav-items {
  margin-left: ;
}


h1 {
  text-align: center;
  font-family: "Stalemate", cursive;
  font-weight: 400;
  color: #45b29a;
  font-size: 8rem;
  margin: 0.5em 0 0 0;
}

.subtitle {
  text-align: center;
  font-weight: 700;
  color: #45b29a;
  font-size: 1.2rem;
  margin-top: 0.5em;
}

@media (max-width: 675px) {
  .container-nav {
    flex-direction: column;
  }

  header {
    text-align: center;
  }
}


nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin-left: 2em;
}

nav a {
  text-decoration: none;
  color: #45b29a;
  font-weight: 900;
  padding: 0.25em 0;
  font-size: 1.2rem;
}

nav a:hover,
nav a:focus {
  color: #1792d2;
}

.current-page {
  border-bottom: 1px solid #707070;
}

.current-page:hover {
  color: #707070;
}

@media (max-width: 675px) {
  nav ul {
    flex-direction: column;
  }

  nav li {
    margin: 0.5em 0;
  }
}

.section1-me-img {
  padding-top: 0.5em;
  width: 10em;
  border-radius: 50%;
}

.me {
  display: flex;
  justify-content: center;
  position: relative;
}

.section1-desc {
  position: absolute;
  margin-top: 9em;
} */
